main {
  min-width: 100vw;
  min-height: 100vh;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Proxima Nova";
}

.main-container {
  width: 1010px;
  height: 800px;
  margin: 50px;
  align-self: center;
}

.instance-control {
  height: max-content;
  width: 100%;
}

.instance-control > p {
  padding: 0;
  margin: 0;
}

.instance-control-upper {
  border-bottom: 1px solid var(--borderline);
  padding-bottom: 10px;
  display: flex;
}

.instance-control-upper div:first-child {
  flex-basis: 85%;
}

.instance-control-upper > div:first-child > h2 {
  margin: 0;
  font-size: 30px;
}

.instance-control-upper > div:first-child > ul {
  display: flex;
  font-size: 13px;
  list-style-type: none;
  font-weight: 400;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  width: max-content;
  color: var(--textgray);
}

.instance-control-upper div:first-child ul li:first-child {
  padding-right: 20px;
}

.instance-control-upper div:first-child ul li:nth-child(n + 2) {
  padding-right: 20px;
  padding-left: 20px;
  border-left: 1px solid var(--borderline);
}

.instance-control-upper div:last-child {
  flex-basis: 15%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.instance-control-upper div:last-child button {
  width: 120px;
  height: 30px;
  font-size: 11px;
  font-weight: 600;
  outline: 1px solid #dd1f1f;
  background-color: transparent;
  border: none;
  color: #dd1f1f;
  border-radius: 0.375rem;
}

.instance-control-upper div:last-child button:active {
  background-color: #dd1f1f;
  color: white;
}

.instance-control-lower {
  padding-top: 17px;
  padding-bottom: 18px;
  border-bottom: 1px solid var(--borderline);
  display: flex;
  justify-content: space-between;
}

.instance-control-lower div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.instance-control-lower div:first-child p:first-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}

.instance-control-lower div:first-child p:last-child {
  font-weight: 600;
  color: var(--textgreen);
  font-size: 14px;
  line-height: 25px;
}

.instance-control-lower div:last-child {
  display: flex;
  gap: 10px;
}

.instance-control-lower div:last-child button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  gap: 5px;
  line-height: 13.4px;
  height: 30px;
  width: 80px;
  color: var(--textgray);
  border-radius: 0.375rem;
  cursor: pointer;
}

.instance-control-lower div:last-child button img {
  width: 8.43px;
  height: 8.86px;
}

.instance-control-lower div:last-child button:first-child {
  background-color: #f3f5fa;
  outline: 1px solid #f3f5fa;
  border: none;
}

.instance-control-lower div:last-child button:nth-child(n + 2) {
  background-color: transparent;
  outline: 1px solid var(--textgreen);
  border: none;
}

.tab-container {
  width: 100%;
  margin-top: 30px;
  border: 1px solid var(--borderline);
  border-radius: 0.375rem;
}

.tab-menu {
  display: flex;
  width: 100%;
  gap: 25px;
  list-style-type: none;
  margin: 0;
  padding: 30px 40px 0 40px;
  border-bottom: 1px solid var(--borderline);
}

.tab-menu li {
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 19.49px;
  font-weight: 400;
  color: var(--tab-menu-not-active);
  cursor: pointer;
}

.tab-menu .tab-menu-networks {
  border-bottom: 4px solid var(--textgreen);
  color: var(--tab-menu-active);
  font-weight: 600;
}

.tab-content {
  padding: 30px 40px 30px 40px;
  font-size: medium;
}

.tab-content .tab-content-attach-network-title {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

.tab-content div p {
  padding-top: 40px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.tab-content-attach-network .tab-content-attach-network-selection {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tab-content-attach-network .tab-content-attach-network-selection select {
  width: 85%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10.5px;
  appearance: none;
  background-image: url("../assets/images/arrow-down.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right 16.5px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-color: var(--borderline);
  font-size: 14px;
}

.tab-content-attach-network-button {
  width: 150px;
  height: 40px;
  background-image: linear-gradient(#01a19a, #008a84);
  color: white;
  outline: none;
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  font-size: 11px;
  line-height: 13.4px;
  text-align: center;
  cursor: pointer;
}

.tab-content-instance-network {
  margin-bottom: 50px;
  width: 100%;
  height: max-content;
  overflow-x: auto;
}

.tab-content-instance-network-table {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
  border-collapse: collapse;
  position: relative;
  table-layout: fixed;
}

.tab-content-instance-network-table th {
  width: 50%;
  padding-top: 0;
  padding-bottom: 14px;
  border-bottom: 1px solid var(--borderline);
}

.tab-content-instance-network-table th:first-child {
  padding-left: 20px;
}

.tab-content-instance-network-table th:last-child {
  padding-right: 20px;
  width: 10%;
}

.tab-content-instance-network-table th {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-gray-2);
}

.tab-content-instance-network-table .tab-content-table-row1 td:first-child {
  color: var(--network-name-blue);
  padding-left: 20px;
  cursor: pointer;
}

.tab-content-instance-network-table .tab-content-table-row1 td {
  padding-top: 21px;
  padding-bottom: 22px;
  font-weight: 400;
  line-height: 27px;
  font-size: 14px;
}

.tab-content-table-row1 {
  border-bottom: 1px solid var(--borderline);
}

.tab-content-table-row2 td {
  padding-top: 21px;
  padding-bottom: 22px;
  font-weight: 400;
  line-height: 27px;
  font-size: 14px;
}

.tab-content-table-row2 td:first-child {
  color: var(--network-name-blue);
  padding-left: 20px;
  cursor: pointer;
}

.tab-content-table-row2 {
  border-bottom: 1px solid var(--borderline);
}

.tab-content-instance-network-table .tab-content-table-row1 td:last-child {
  padding-right: 20px;
}

.tab-content-instance-network-table tr:first-child {
  text-align: left;
}

.tab-content-instance-network-table-action {
  position: relative;
}

.tab-content-instance-network-table-action-popup {
  flex-direction: column;
  background-color: white;
  position: absolute;
  height: max-content;
  padding: 10px;
  left: -420%;
  width: 170px;
  border-radius: 0.375rem;
  border: 1px solid var(--borderline);
  z-index: 10;
  gap: 10px;
}

.tab-content-instance-network-table-action-popup > button {
  width: 100%;
  font-size: medium;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#action-button-1 {
  cursor: pointer;
}
#action-button-2 {
  cursor: pointer;
}

.tab-content-instance-network-table-action-popup > button:first-child {
  border-bottom: 1px solid var(--borderline);
  padding-bottom: 10px;
}

@media screen and (max-width: 1091px) {
  .tab-menu {
    gap: 5;
    width: 100%;
    padding-top: 30px;
  }

  .instance-control-lower div:last-child button {
    height: 30px;
    width: max-content;
    color: var(--textgray);
    border-radius: 0.375rem;
  }
}
